*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: arcade;
  src: url("fonts/FFFFORWA.ttf");
}

:root {
  --foreground-color: white;
  --background-color: black;

  --aspect-ratio: calc(3 / 4);
  --width: 90%;
  --height: calc(var(--width) * var(--aspect-ratio));
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: #280328;
  overflow: hidden;
  font-family: arcade;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.game-display {
  aspect-ratio: 4 / 3;
  width: 600px;
  border: 1px solid white;
  overflow: hidden;
  background-color: var(--background-color);
  position: relative;
  cursor: none;
}

.game-display:after {
  content:"";
  position: absolute;
  z-index: 1;
  top: 5%;
  bottom: 5%;
  left: 50%;
  border-left: 5px dashed #fff;
  border-right: 5px dashed #fff;
}

.paddle {
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1%);
  transform: translateY(-50%);
  width: 1.5%;
  height: 12%;
}

.paddle.left {
  left: 1.5%;
}

.paddle.right {
  right: 1.5%;
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: var(--foreground-color);

  left: calc(var(--x) * 1%);
  top: calc(var(--y) * 1%);

  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  width: calc(2% * 3/4);
  height: 2%;
}

.score {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-weight: bold;
  font-size: 4rem;
  color: var(--foreground-color);
  user-select: none;
}


.pong-start-btn {
    font-size: 1.4rem;
    padding: .25em .5em;
    color: #fff;
    background-color: #000;
    border: 1px solid white;
    font-family: inherit;
    cursor: pointer;
    margin-top: .5em;

}
.pong-start-btn:hover {
    color: #000;
    background-color: #fff;

}

@media (min-width: 800px) {
  .game-display {
    width: 700px;
  }
}



